.bar-javascript{
    width:50%; 
    font-weight: bold;
}

.bar-sqlserver{
    width:50%; 
    font-weight: bold;
}

.bar-html{
    width:65%; 
    font-weight: bold;
}

.bar-word{
    width:75%; 
    font-weight: bold;
}

.bar-css{
    width:65%; 
    font-weight: bold;
}

.bar-excel{
    width:70%; 
    font-weight: bold;
}

.bar-csharp{
    width:65%; 
    font-weight: bold;
}

.bar-ingles{
    width:40%; 
    font-weight: bold;
}